<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1074282097623-jqm91v67o32uhrg7l9i7phaqrb8rfaoj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1074282097623-jqm91v67o32uhrg7l9i7phaqrb8rfaoj</string>
	<key>API_KEY</key>
	<string>AIzaSyDqyhUiqBnwQkfSJC3sFU_l_sFZqxIE2wo</string>
	<key>GCM_SENDER_ID</key>
	<string>1074282097623</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>morua.code.Instagram-Clone</string>
	<key>PROJECT_ID</key>
	<string>instagramclone-f8711</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclone-f8711.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1074282097623:ios:a6c507939aa783f23a7992</string>
</dict>
</plist>